<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    id="com.WISEMEN.ioscamera"
    version="1.0.0">
    
    <name>Custom Camera</name>
    <description>PhoneGap plugin to support a custom camera overlay</description>
    <author>Vote 539 and others</author>
    
    <info>
        This plugin was written with the tutorial found at:
        http://codrspace.com/vote539/writing-a-custom-camera-plugin-for-phonegap/
    </info>
    
    <js-module src="www/js/ioscamera.js" name="ioscamera">
        <clobbers target="navigator.ioscamera" />
    </js-module>
    
    <engines>
        <engine name="cordova" version=">=3.1.0" />
    </engines>
    
    <platform name="ios">
        
        <!-- config file -->
        <config-file target="config.xml" parent="/*">
            <feature name="ioscamera">
                <param name="ios-package" value="ioscamera" />
            </feature>
        </config-file>
        
        <!-- core CustomCamera header and source files -->
        <header-file src="platforms/ios/ioscamera/Classes/ioscamera.h" />
        <header-file src="platforms/ios/ioscamera/Classes/ioscameraController.h" />
        <source-file src="platforms/ios/ioscamera/Classes/ioscamera.m" />
        <source-file src="platforms/ios/ioscamera/Classes/ioscameraController.m" />
        <resource-file src="platforms/ios/ioscamera/Classes/ioscameraController.xib" />
        
    </platform>
    
</plugin>